.admonition {
  background-color: transparent;
  border-left: .2rem solid #448aff;
  border-radius: .1rem;
  box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0.025rem 0.05rem rgb(0 0 0 / 5%);
  color: var(--md-admonition-fg-color);
  display: flow-root;
  margin: 1.5625em 0;
  padding: 0 .6rem;
  page-break-inside: avoid;
}

.admonition.note {
  border-color: #448aff;
}

.admonition.abstract {
  border-color: #00b0ff;
}

.admonition.info {
  border-color: #00b8d4;
}

.admonition.tip {
  border-color: #00bfa5;
}

.admonition.success {
  border-color: #00c853;
}

.admonition.question {
  border-color: #64dd17;
}

.admonition.warning {
  border-color: #ff9100;
}

.admonition.failure {
  border-color: #ff5252;
}

.admonition.danger {
  border-color: #ff1744;
}

.admonition.bug {
  border-color: #f50057;
}

.admonition.example {
  border-color: #7c4dff;
}

.admonition.quote {
  border-color: #9e9e9e;
}

.admonition-title {
  background-color: rgba(68,138,255,.1);
  font-weight: 700;
  margin: 0 -.6rem 0 -.8rem;
  padding: .4rem .6rem .4rem 1rem;
  position: relative;
}

.note .admonition-title {
  background-color: rgba(68,138,255,.1);
}

.abstract .admonition-title {
  background-color: rgba(0,176,255,.1);
}

.info .admonition-title {
  background-color: rgba(0,184,212,.1);
}

.tip .admonition-title {
  background-color: rgba(0,191,165,.1);
}

.success .admonition-title {
  background-color: rgba(0,200,83,.1);
}

.question .admonition-title {
  background-color: rgba(100,221,23,.1);
}

.warning .admonition-title {
  background-color: rgba(255,145,0,.1);
}

.failure .admonition-title {
  background-color: rgba(255,82,82,.1);
}

.danger .admonition-title {
  background-color: rgba(255,23,68,.1);
}

.bug .admonition-title {
  background-color: rgba(245,0,87,.1);
}

.example .admonition-title {
  background-color: rgba(124,77,255,.1);
}

.quote .admonition-title {
  background-color: hsla(0,0%,62%,.1);
}

/* Admonition title icons */

.note .admonition-title::before {
	content: "🖋 ";
}

.abstract .admonition-title::before {
  content: "≣ ";
}

.info .admonition-title::before {
	content: "ℹ️ ";
}

.tip .admonition-title::before {
	content: "🔥 ";
}

.success .admonition-title::before {
	content: "✅ ";
}

.question .admonition-title::before {
	content: "❓ ";
}

.warning .admonition-title::before {
	content: "⚠️ ";
}

.failure .admonition-title::before {
	content: "❌ ";
}

.danger .admonition-title::before {
	content: "⚡️ ";
}

.bug .admonition-title::before {
	content: "🕷 ";
}

.example .admonition-title::before {
	content: "☞ ";
}

.quote .admonition-title::before {
	content: "❞ ";
}
